.logo{
    width: 100px;
    cursor: pointer;
    background-size: cover;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;

    img{
        display: block;
        width: 100%;
        object-fit:cover;
    }

    .carousel-caption{
        bottom: 600px;
    
        h5{
            font-family: poppins;
            font-size: 68px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 50px;
            font-weight: 900;
            color: #f79414;
        }
    
        p{
            font-size: 30px;
            margin: auto;
            width: 60%;
            line-height: 1.9;
            color:#fce7c0;
        }
    
        a{
            text-transform: uppercase;
            background: darkorange;
            padding: 10px 30px;
            display: inline-block;
            color: #fff;
            margin-top: 15px;
            border-radius: 50px;
            text-decoration: none;
        }

    }
}


